<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oauth Figma API Demo</title>
  <style>
    :root {
      font: 87.5%/1.25  "Fira Mono", "SF Mono", "Roboto Mono", "Ubuntu Mono", Consolas, monospace;
      color: #333;
      background: #f4f4f4;
    }

    body {
      margin: auto;
      max-width: 89ch;
    }

    pre,
    code {
      font-family: "SF Mono", "Roboto Mono", "Fira Mono", Consolas, monospace;
    }

    nav a {
      display: inline-block;
      padding: 0.5em 1.25em;
    }

    pre {
      border: 1px solid #d8d8d8;
      padding: 0.5em;
      overflow: auto;
    }

    .error {
      color: #e24e3e;
      border-color: currentColor;
      background: hsla(6, 74%, 56%, 0.05);
    }

    .user {
      display: flex;
      align-items: center;
    }

      .user__image {
        margin-right: 0.75rem;
        flex: 0 0 auto;
        font-size: 3rem;
        width: 1em;
        height: 1em;
        border-radius: 50%;
      }

      .user__main {
        flex: 1 1 0%;
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .user__name {
        margin-bottom: 4px;
        font-weight: 700;
      }

      .user__meta {
        opacity: 0.75;
        font-size: 0.85em;
      }
  </style>
</head>
<body>

  <h1>OAuth Figma API demo</h1>

  <nav>
    <a href="/">Home</a> /
    <a href="/auth/figma">Login via Figma</a> /
    <a href="/refresh">Refresh Token</a> /
    <a href="/me">About</a>
  </nav>

  <pre class="{{'error' if error else 'default'}}"><code>{{error if error else data}}</code></pre>

  {% if user %}
  <div class="user">
    <img class="user__image" src="{{ user.img_url}}" alt="Avatar of {{ img_url.handle }}" />
    <div class="user__main">
      <div class="user__name">{{ user.handle }}</div>
      <div class="user__meta">{{ user.email }}</div>
    </div>
  </div>
  {% endif %}
</body>
</html>